{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/hint.css@2.6.0/dist/hint.min.js"></script>
</head>
<main class="container mx-auto p-6 md:p-12">
  <div class="flex justify-center mb-8">
  </div>
  <div class="border bg-card text-card-foreground rounded-md shadow-lg max-w-sm mx-auto" data-v0-t="card">
    <div class="flex flex-col space-y-1.5 p-4">
      <h3 class="font-semibold text-lg text-center">Пожалуйста, введите свой логин и пароль</h3>
    </div>
    <div class="p-2">
      {% if messages %}
        <ul class="text-lg text-center text-red-500 messages p-4">
          {% for message in messages %}
            <li class="error">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <input class="border rounded w-full p-2" placeholder="Login" aria-label="Username" type="text" name="username" />
        <input class="border rounded w-full p-2" placeholder="Password" aria-label="Password" type="password" name="password" />
        <button class="border-2 border-gray-300 border-solid inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-blue-600 h-10 px-4 py-2 bg-blue-500 text-white w-full mt-4" type="submit">
          Войти
        </button>
      </form>
      <a class="border-2 border-gray-300 border-solid max-w-sm mx-auto inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-red-600 h-10 px-4 py-2 bg-red-500 text-white w-full mt-2" href="{% url 'home' %}">Отмена</a>
      <a class="text-center text-blue-500 pl-2" href="{% url 'password_reset' %}">Забыли пароль?</a>
    </div>
  </div>
</main>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var successMessage = '{{ messages.get_success }}';

      if (successMessage) {
        Swal.fire({
          icon: 'success',
          title: successMessage,
          showConfirmButton: false,
          timer: 1500
        });
      }
    });
  </script>
{% endblock %}



