{% extends 'base.html' %}

{% block content %}
<main class="container mx-auto p-6 md:p-12">
  <div class="flex justify-center mb-8">
  </div>
  <div class="border bg-card text-card-foreground rounded-md shadow-lg max-w-sm mx-auto" data-v0-t="card">
    <div class="flex flex-col space-y-1.5 p-4">
      <h3 class="font-semibold text-lg text-center">Восстановление пароля</h3>
    </div>
    <div class="p-2">
      <p>Введите адрес электронной почты, который вы использовали при регистрации.</p>

      {% if messages %}
        {% for message in messages %}
          <p class="text-red-500 {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
      {% endif %}

      <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {{ form.email.label_tag }}
        <input class="border rounded w-full mt-2 p-2" placeholder="Ваш Email" aria-label="Email" type="email" name="email" />

        <button class="border-2 border-gray-300 border-solid inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-blue-600 h-10 px-4 py-2 bg-blue-500 text-white w-full mt-4" type="submit">
          Восстановить пароль
        </button>
      </form>
      <a class="border-2 border-gray-300 border-solid max-w-sm mx-auto inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-600 h-10 px-4 py-2 bg-red-500 text-white w-full mt-2" href="{% url 'home' %}">Отмена</a>
    </div>
  </div>
</main>
{% endblock %}

