{% extends 'base.html' %}

{% block content %}
<main class="container mx-auto p-6 md:p-12">
    <div class="flex justify-center mb-8">
    </div>
    <div class="border bg-card text-card-foreground rounded-md shadow-lg max-w-sm mx-auto" data-v0-t="card">
        <div class="flex flex-col space-y-1.5 p-4">
            <h3 class="font-semibold text-lg text-center">Восстановление пароля</h3>
        </div>
        <div class="mb-4 p-4 text-center">
            <p>На ваш адрес электронной почты отправлено письмо с дальнейшими инструкциями.</p>
        </div>
    </div>
</main>
{% endblock %}
