<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.6.0/hint.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}"ВЫСОТА" центр когнитивных технологий{% endblock %}</title>
</head>

<body>
    <div class="background"></div>
    <main class="container mx-auto p-6 md:p-10 bg-fixed">
        <div class="flex justify-between mb-8">
            <div>
                <h1 class="text-5xl text-shadow-md text-blue-600 font-bold">"ВЫСОТА"</h1>
                <h1 class="text-4xl text-shadow-md text-blue-600 font-bold">центр когнитивных технологий</h1>
                <p class="text-2xl text-gray-900 font-bold mt-2">Психологические тесты </p>
            </div>
            <div class="flex gap-4">
                {% if user.is_authenticated %}
                    <button class="border-2 border-gray-300 border-solid custom-button inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-500 text-white h-10 px-4 py-2 mt-4 hover:bg-blue-600"
                        onclick="window.location.href='{% url 'logout' %}'">
                        {% include 'PsichologyTest/SVG/svg_login.html' %}
                        Выйти
                    </button>
                <div>
            </div>
                {% else %}
                <button class="border-2 border-gray-300 border-solid custom-button inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-red-500 text-white hover:bg-red-600 h-10 px-4 py-2 mt-4"
                        onclick="window.location.href='{% url 'login' %}'">
                        {% include 'PsichologyTest/SVG/svg_login.html' %}
                        Войти
                </button>
                <button class="border-2 border-gray-300 border-solid custom-button inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-green-500 text-white hover:bg-green-600 h-10 px-4 py-2 mt-4"
                        onclick="window.location.href='{% url 'signup' %}'">
                        {% include 'PsichologyTest/SVG/svg_registration.html' %}
                        Регистрация
                </button>
                {% endif %}
            </div>
        </div>
        {% block content %}
            {% if user.is_authenticated %}
            <div class="p-6 mb-2 rounded-md">
                <h2 class="text-2xl font-semibold mb-2">Добро пожаловать, <span class="text-blue-600">{{user.username}}</span></h2>
                <p class="text-xl text-gray-900 mb-2">Готовы пройти тестирование? Тогды выбирайте тест и нажимайте на кнопку "Начать тест"</p>
            </div>
            {% else %}
                <div class="p-6 mb-2 rounded-md">
                <h2 class="text-2xl font-semibold">Вы не авторизованы!</h2>
                <p class="text-xl text-gray-900">Готовы пройти тестирование? Тогды выбирайте тест и нажимайте на кнопку "Начать тест"</p>
            </div>
            {% endif %}
            <div class="grid grid-cols-2 md:grid-cols-5 gap-4 p-8 mb-2">
                <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <div class="border-2 border-gray-300 border-solid flex flex-col rounded-md space-y-1.5 bg-gray-400 p-5 ">
                        <h3 class="font-semibold text-xl break-word">Шкала депрессии Бэка (BDI)</h3>
                        <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                            21 вопрос
                        </div>
                    </div>
                    <div class="p-4">
                        <p class="text-gray-700">Тест позволяет определить уровень депресии.</p>
                        <button class="border-2 border-gray-300 border-solid custom-button inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-400 text-gray-900 hover:bg-gray-500 h-10 px-4 py-2 mt-4" onclick="window.location.href='{% url 'test' %}'">
                            Начать тест
                        </button>
                        <button class="border-2 border-gray-300 border-solid custom-button resultButton inline-flex items-center justify-center rounded-md shadow-xl text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-400 text-gray-900 hover:bg-gray-500 h-15 px-4 py-2 mt-4"
                        {% if user.is_authenticated %}
                            onclick="window.location.href='{% url 'view_results' %}'"
                        {% endif %}>
                        {% include 'PsichologyTest/SVG/svg_results.html' %}
                            Результаты
                    </button>
                    </div>
                </div>
                <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <div class="border-2 border-gray-300 border-solidflex flex-col rounded-md space-y-1.5 bg-red-500 p-6">
                        <h3 class="font-semibold text-xl">Шкала тревоги Бека (BAI)</h3>
                        <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                            21 вопрос
                        </div>
                    </div>
                    <div class="p-4">
                        <p class="text-gray-700">Тест позволяет выявить уровень тревоги.</p>
                        <button class="border-2 border-gray-300 border-solid custom-button inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-red-500 text-gray-900 hover:bg-red-600 h-10 px-4 py-2 mt-4" onclick="window.location.href='{% url 'anxiety_test' %}'">
                            Начать тест
                        </button>
                                        <button class="border-2 border-gray-300 border-solid custom-button resultButton inline-flex items-center justify-center rounded-md shadow-xl text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-gray-900 bg-red-500 hover:bg-red-600 h-15 px-4 py-2 mt-4"
                        {% if user.is_authenticated %}
                            onclick="window.location.href='{% url 'anxiety_view_results' %}'"
                        {% endif %}>
                        {% include 'PsichologyTest/SVG/svg_results.html' %}
                            Результаты
                        </button>
                    </div>
                </div>
                <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <div class="border-2 border-gray-300 border-solid flex flex-col rounded-md space-y-1.5 bg-green-300 p-4 ">
                        <h3 class="font-semibold text-xl break-word">Шкала самосострадания Кристин Нефф (SCS)</h3>
                        <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                            26 вопросов
                        </div>
                    </div>
                    <div class="p-4">
                        <p class="text-gray-700">Тест позволяет определить уровень самосострадания.</p>
                        <button class="border-2 border-gray-300 border-solid custom-button inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-green-300 text-gray-900 hover:bg-green-400 h-10 px-4 py-2 mt-4" onclick="window.location.href='{% url 'selfcompassion_test' %}'">
                            Начать тест
                        </button>
                        <button class="border-2 border-gray-300 border-solid custom-button resultButton inline-flex items-center justify-center rounded-md shadow-xl text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-gray-900 bg-green-300 hover:bg-green-400 h-15 px-4 py-2 mt-4"
                        {% if user.is_authenticated %}
                            onclick="window.location.href='{% url 'selfcompassion_view_results' %}'"
                        {% endif %}>
                        {% include 'PsichologyTest/SVG/svg_results.html' %}
                            Результаты
                        </button>
                    </div>
                </div>
                <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <div class="border-2 border-gray-300 border-solid flex flex-col rounded-md space-y-1.5 bg-blue-300 p-4">
                        <h3 class="font-semibold text-xl break-word">Шкала импульсивности Барратта (BIS-11)</h3>
                        <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                            30 вопросов
                        </div>
                    </div>
                    <div class="p-4">
                        <p class="text-gray-700">Тест дает оценку импульсивности и составляющих её факторов.</p>
                        <button class="border-2 border-gray-300 border-solid custom-button inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-300 text-gray-900 hover:bg-blue-400 h-10 px-4 py-2 mt-4" onclick="window.location.href='{% url 'impulsivity_test' %}'">
                            Начать тест
                        </button>
                        <button class="border-2 border-gray-300 border-solid custom-button resultButton inline-flex items-center justify-center rounded-md shadow-xl text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-gray-900 bg-blue-300 hover:bg-blue-400 h-15 px-4 py-2 mt-4"
                        {% if user.is_authenticated %}
                            onclick="window.location.href='{% url 'impulsivity_view_results' %}'"
                        {% endif %}>
                        {% include 'PsichologyTest/SVG/svg_results.html' %}
                            Результаты
                        </button>
                    </div>
                </div>
                <div class="border bg-card text-card-foreground rounded-md shadow-2xl card-container" data-v0-t="card" style="transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <div class="border-2 border-gray-300 border-solid flex flex-col rounded-md space-y-1.5 bg-yellow-400 p-4">
                        <h3 class="font-semibold text-xl break-word">Шкала оценки пищевого поведения (EDI)</h3>
                        <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 mt-2">
                            51 вопрос
                        </div>
                    </div>
                    <div class="p-4">
                        <p class="text-gray-700">Эта шкала измеряет различные предпочтения, ощущения и поведение.</p>
                        <button class="border-2 border-gray-300 border-solid custom-button inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-yellow-400 text-gray-900 hover:bg-yellow-500 h-10 px-4 py-2 mt-4" onclick="window.location.href='{% url 'foodbehavior_test' %}'">
                            Начать тест
                        </button>
                        <button class="border-2 border-gray-300 border-solid custom-button resultButton inline-flex items-center justify-center rounded-md shadow-xl text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-gray-900 bg-yellow-400 hover:bg-yellow-500 h-15 px-4 py-2 mt-4"
                        {% if user.is_authenticated %}
                            onclick="window.location.href='{% url 'foodbehavior_view_results' %}'"
                        {% endif %}>
                        {% include 'PsichologyTest/SVG/svg_results.html' %}
                            Результаты
                        </button>
                    </div>
                </div>
            </div>
        {% endblock %}
                <div class="flex fixed-center justify-center space-x-8 mt-20 pt-20">
                      <div class="custom-button text-center mt-2">
                          <a href="mailto:1cbt.vysota@gmail.com">
                        {% include 'PsichologyTest/SVG/svg_mail.html' %}
                        <h2 class="font-bold text-xs">1cbt.vysota@gmail.com</h2>
                          </a>
                      </div>
                      <div class="custom-button text-center mt-2">
                          <a href="tel:+78006005197">
                              {% include 'PsichologyTest/SVG/svg_phone.html' %}
                        <h2 class="font-bold text-xs">+7 (800) 600-51-97</h2>
                          </a>
                      </div>
                      <div class="custom-button text-center mt-2 pl-2">
                          <a href="https://t.me/visotacent">
                            {% include 'PsichologyTest/SVG/svg_tg.html' %}
                        <h2 class="font-bold text-xs">Telegram</h2>
                          </a>
                      </div>
                      <div class="custom-button text-center mt-2 pl-6">
                          <a href="https://vk.com/visotacenter">
                            {% include 'PsichologyTest/SVG/svg_vk.html' %}
                        <h2 class="font-bold text-xs">ВКонтакте</h2>
                              </a>
                      </div>
                      <div class="custom-button text-center mt-2 pl-4">
                          <a href="https://www.youtube.com/channel/UCI1FuUZKxVOq-dyIKa7lybg">
                            {% include 'PsichologyTest/SVG/svg_youtube.html' %}
                        <h2 class="font-bold text-xs">YOUTUBE</h2>
                          </a>
                </div>
            </div>
            <script>
                  document.addEventListener('DOMContentLoaded', function() {
                    var buttons = document.querySelectorAll('.resultButton');

                    buttons.forEach(function(button) {
                      button.addEventListener('click', function() {
                        // Проверяем статус авторизации
                        var userIsAuthenticated = {{ request.user.is_authenticated|lower }};

                        // Очищаем предыдущие настройки подсказки
                        button.classList.remove('hint--top');

                        if (!userIsAuthenticated) {
                          // Применяем подсказку
                          button.classList.add('hint--top');
                          button.setAttribute('aria-label', 'Для просмотра результатов пожалуйста, авторизуйтесь!');
                          button.classList.add('hint');
                          button.classList.add('hint-multiline');
                          button.classList.add('hint--rounded');
                          button.classList.add('hint--info');
                        }
                      });
                    });
                  });
            </script>
    </main>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>

