{% extends 'base.html' %}

{% block content %}
  <main class="container mx-auto p-6 md:p-12">
    <div class="flex justify-center mb-8">
    </div>
    <div class="border bg-card text-card-foreground rounded-md shadow-lg max-w-sm mx-auto" data-v0-t="card">
      <div class="flex flex-col space-y-1.5 p-4">
        <h3 class="font-semibold text-xl text-center">Подтверждение восстановления пароля</h3>
      </div>
      <div class="p-2">
        <p>Пожалуйста, введите новый пароль для вашей учетной записи.</p>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            {% if field.name != 'password1' and field.name != 'password2' %}
              <div class="mt-2">
                <input class="border rounded w-full p-2" placeholder="{{ field.label }}" aria-label="{{ field.label }}" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default:'' }}" {% if field.field.required %}required{% endif %}>
              </div>
            {% endif %}
          {% endfor %}
          <button class="border-2 border-gray-300 border-solid inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-blue-600 h-10 px-4 py-2 bg-blue-500 text-white w-full mt-4" type="submit">
            Сохранить пароль
          </button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}





